.proj-box {
    height: 200px;
    width: 200px;
    position: absolute;
    
    .proj {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        position: relative;
        
        .proj__title {
            font-size: 1.5rem;
            position: absolute;
            top: -1.9rem;
            left: 5%;
            margin: auto;
        }
    }
    
    &:nth-child(1) .proj {
        background: radial-gradient(circle at 35% 0px, 
                                    rgb(204, 239, 241), 
                                    rgb(170, 211, 214) 50%, 
                                    rgb(118, 160, 163) 90%,
                                    rgb(86, 124, 126) 91%,
                                    rgb(7, 11, 12) 92%, 
                                    rgb(7, 11, 12) 100%);
        top: 20vh;
        left: 15vw;
    }

    &:nth-child(2) .proj {
        background: linear-gradient(185deg, 
                                    #2e3097ff 10%, 
                                    #3842d1ff 16%, 
                                    rgb(82, 88, 167) 19%, 
                                    rgb(115, 120, 182) 20%, 
                                    #3842d1ff 21%, 
                                    #343fb7ff 30%, 
                                    rgb(63, 72, 167) 34%,
                                    rgb(68, 78, 189) 41%, 
                                    rgb(57, 65, 160) 45%,
                                    rgb(62, 69, 146) 65%,
                                    rgb(43, 50, 145) 70%,  
                                    rgb(27, 32, 104) 81%,
                                    rgb(29, 34, 110) 91%,  
                                    rgb(29, 37, 128) 100%);
        top: 30vh;
        left: 40vw;
    }

    &:nth-child(2) .proj:before {
        background: radial-gradient(ellipse at 75% 10%, 
                                    rgba(33, 40, 117, 0.356) 0%,
                                    rgba(42, 48, 112, 0.39) 45%,
                                    rgba(255, 255, 255, 0.041) 50%,
                                    rgba(57, 63, 151, 0.384) 55%, 
                                    rgba(32, 37, 102, 0.384) 70%,
                                    rgba(255, 255, 255, 0.603) 100%);
        border-radius: 50%;
        content: '';
        height: 7%;
        width: 20%;
        position: absolute;
        top: 58%;
        left: 55%;
    }

    &:nth-child(2) .proj:after {
        background: radial-gradient(circle at 0% 25%, 
                                    rgba(255, 255, 255, 0) 60%,
                                    rgba(0, 0, 0, 0.384) 80%,
                                    rgb(0, 0, 0) 93%,
                                    rgba(0, 0, 0) 100%);
        border-radius: 50%;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    &:nth-child(3) .proj {
        background: linear-gradient(
                                    rgb(160, 150, 135) 0%,
                                    rgb(150, 131, 105) 10%,
                                    rgb(199, 186, 170) 15%,
                                    #bfb5a9ff 20%,
                                    rgb(218, 212, 205) 30%,
                                    rgb(223, 221, 217) 36%,
                                    rgba(179, 142, 121, 0.507) 37%,
                                    rgba(184, 145, 122, 0.582) 40%,
                                    rgb(223, 211, 200) 41%,
                                    rgb(223, 221, 217) 45%,
                                    rgb(221, 206, 192) 50%,
                                    rgba(179, 142, 121, 0.507) 58%,
                                    rgba(170, 128, 104, 0.582) 60%,
                                    rgba(170, 135, 115, 0.582) 61%,
                                    rgb(212, 193, 181) 62%,
                                    rgb(223, 222, 217) 65%,
                                    rgb(238, 235, 228) 66%,
                                    rgb(238, 235, 228) 68%,
                                    rgb(223, 219, 213) 69%,
                                    rgb(189, 181, 164) 72%,
                                    rgba(196, 169, 153, 0.582) 75%,
                                    rgba(112, 83, 67, 0.582) 80%,  
                                    rgb(49, 33, 9) 100%);
        top: 45vh;
        left: 65vw;
    }

    &:nth-child(3) .proj:before {
        background: radial-gradient(ellipse at 50% 45%, 
                                    rgba(121, 90, 50, 0.781) 0%,
                                    rgba(141, 90, 48, 0.651) 35%,
                                    rgba(143, 88, 36, 0.336) 50%,
                                    rgba(158, 110, 54, 0.308) 55%, 
                                    rgba(102, 78, 32, 0.192) 70%);
        border-radius: 50%;
        content: '';
        height: 12%;
        width: 23%;
        position: absolute;
        top: 60%;
        left: 55%;
    }

    &:nth-child(3) .proj:after {
        background: radial-gradient(circle at 20% 35%, 
                                    rgba(255, 255, 255, 0) 52%,
                                    rgba(0, 0, 0, 0.384) 75%,
                                    rgb(0, 0, 0) 93%,
                                    rgba(0, 0, 0) 100%);
        border-radius: 50%;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    &:nth-child(n) .proj:hover {
        border: 3px solid black;
    }
}