$transparent-black: rgba(0, 0, 0, 0.65);
$currtab-pink: rgba(243, 159, 159, 0.719);

#tab-menu {
    align-items: center;
    background-color: $transparent-black;
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

.button {
    color: white;
    cursor: pointer;
    position: relative;
    font-size: 1.7rem;

    &:hover {
        border: 2px solid rgb(163, 224, 248);
        background-color: white;
        color: rgb(16, 50, 63);
    }
}

.button--left {
    margin-right: 20vw;

    &:before {
        border-top: .5em solid transparent;
        border-right: .5em solid beige;
        border-bottom: .5em solid transparent;
        content: '';
        position: absolute;
        left: -.8em;
    }
    
    &:after {
        border-top: .3em solid transparent;
        border-right: .3em solid $transparent-black;
        border-bottom: .3em solid transparent;
        content: '';
        position: absolute;
        top: .2em;
        left: -.6em;
    }
}

.button--right {
    margin-left: 20vw;

    &:before {
        border-top: .5em solid transparent;
        border-bottom: .5em solid transparent;
        border-left: .5em solid beige;
        content: '';
        position: absolute;
        right: -.8em;
    }
    
    &:after {
        border-top: .3em solid transparent;
        border-bottom: .3em solid transparent;
        border-left: .3em solid $transparent-black;
        content: '';
        position: absolute;
        top: .2em;
        right: -.6em;
    }
}

#tab-menu__currTab {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    margin: auto;
    
    &:before{
        border-top: .2em solid $currtab-pink;
        border-right: .2em solid transparent;
        border-bottom: .2em solid $currtab-pink;
        content: '';
    }
    
    &:after {
        border-top: .2em solid $currtab-pink;
        border-bottom: .2em solid $currtab-pink;
        border-left: .2em solid transparent;
        content: '';
    }
}